@model IEnumerable <Lex_Diary_Admin_Panel.Models.Product>
@{
    var productList = Model;
    ViewBag.Title = "List";
}
<link href="~/Content/template-content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
        <!-- Begin Page Content -->

    <!-- Page Heading -->
    @*<h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>*@

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Product List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive table-responsive{-sm|-md|-lg|-xl}">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Product Details</th>
                            <th>Price</th>
                            <th>Discount Percentage</th>
                            <th>After Discount Price</th>
                            <th>Action</th>
                           
                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var product in productList)
                        {
                            <tr>
                                <td style="width:20%"> <img src="@product.thumbnail" style="width:250px;height:auto"/></td>
                                <td style="width:35%">@product.productName <br />
                                    <b>Product Description:</b> @product.productDescription<br/><br/>
                                    <b>Rating:</b> @product.rating<br />
                                    <b>Available Colors:</b> @product.colors<br />
                                    <b>Available Sizes:</b> @product.sizes (inches)<br />
                                </td>
                                <td style="width:10%">@product.productPrice BDT</td>
                                <td style="width:10%">@product.discountPercentage %</td>
                                <td style="width:10%">@product.discountPrice BDT</td>
                                <td style="width:15%">
                                    <button class="btn btn-primary" style="padding: 5px 25px 5px 25px;" onclick="location.href ='@Url.Action("Edit", "Product")?id=@product.Id'">Edit</button>
                                    <button class="btn btn-danger" style="padding: 5px 17px 5px 17px;" >delete </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- /.container-fluid -->

@section Scripts{
          <!-- Page level custom scripts -->
<script src="~/Content/template-content/js/demo/datatables-demo.js"></script>
<!-- Page level plugins -->
<script src="~/Content/template-content/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/template-content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    
    }